<?xml version="1.0"?>
<configuration>
   <appSettings>
      <add key="DataRoot" value="C:\Users\Mo\Documents\Year 3\SEM 2\compsci 335\A5\BoutiqueCasseeData\"/>
      <add key="Database" value="Data.db"/>
      <add key="Realm" value="Boutique Cassee"/>
   </appSettings>
   <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
   <system.web>
      <customErrors mode="Off"/>
      <compilation targetFramework="4.5"/>
      <caching>
         <outputCacheSettings>
            <outputCacheProfiles>
               <add name="CacheFor1200Seconds" duration="1200" varyByParam="none" varyByHeader="Accept"/>
            </outputCacheProfiles>
         </outputCacheSettings>
      </caching>
      <pages controlRenderingCompatibilityVersion="4.0"/>
   </system.web>
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior>
               <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
               <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
               <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
               <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name="DefaultEndPointBehavior">
               <dataContractSerializer maxItemsInObjectGraph="10000"/>
            </behavior>
            <behavior name="RESTEndPointBehavior">
               <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
            </behavior>
         </endpointBehaviors>
      </behaviors>
      <bindings>
         <webHttpBinding>
            <binding name="WebHttpBindingConfig">
               <!-- Comment out the security for HTTP; uncomment the security for HTTPS -->
               <!--<security mode="Transport">
                  <transport clientCredentialType="None" />
               </security>-->
            </binding>
         </webHttpBinding>
         <basicHttpBinding>
            <binding name="BasicHttpBindingConfig">
               <readerQuotas/>
               <!--
               <security mode="None"/>
               -->
            </binding>
         </basicHttpBinding>
      </bindings>
      <services>
         <service name="BoutiqueCassee.Open.Service">
            <endpoint address="" behaviorConfiguration="RESTEndPointBehavior"
               binding="webHttpBinding" bindingConfiguration="WebHttpBindingConfig"
               bindingNamespace="http://www.site.org/Samples" contract="BoutiqueCassee.Open.IService" />
            <endpoint address="soap" behaviorConfiguration="DefaultEndPointBehavior"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
               bindingNamespace="http://www.site.org/Samples" contract="BoutiqueCassee.Open.IService" />
            <endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://www.site.org/Samples"
               contract="IMetadataExchange" />
         </service>
      </services>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
   </system.serviceModel>
   <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*"/>
            <add name="Access-Control-Request-Method" value="OPTIONS, GET, POST"/>
            <add name="Access-Control-Allow-Credentials" value="true"/>
            <add name="Access-Control-Allow-Headers" value="Authorization, Content-Type"/>
         </customHeaders>
      </httpProtocol>
   </system.webServer>
</configuration>